doctype html

html
  head
    title Crazy Shapes UI testbed
  
    link(rel='stylesheet', href='./main.css')
  
  mixin rect ()
    .rect
    
  mixin tri ()
    .tri
  
  mixin trap ()
    .trap&attributes(attributes)
      .top
      .right
      .bottom
      .left
  
  body
    //+rect()
    
    //+tri()
    
    +trap().trap-1
    +trap().trap-2
    +trap().trap-3
